# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/
out/
coverage/
public/assets/
public/static/
public/bundles/
*.tsbuildinfo

# Docker
docker-compose.yml
docker-compose.override.yml
.dockerignore

# Ignore Mac system files
.DS_Store

# React
build/
.eslintcache

# Svelte
__sapper__/
.svelte/

# Vue
/node_modules/
/dist/
/*.local
/public

# Database
*.sqlite3
*.db
*.sql
/migrations/

# AWS
.aws-sam/
samconfig.toml
.idea/
.eject

# Python (for any Python-related setup like database scripts)
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Miscellaneous
*.swp
*.swo
*.swn
*.bak
*.tmp
