@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, #ff7e5f, #feb47b);
}

.auth-container body,
.auth-container html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.auth-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    animation: fadeIn 1s ease-in-out;
}

.auth-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

.auth-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 0.3s ease;
}

.auth-input:focus {
    border-color: #ff7e5f;
    outline: none;
    box-shadow: 0px 0px 5px rgba(255, 126, 95, 0.5);
}

.auth-button {
    width: 100%;
    padding: 12px;
    background-color: #ff7e5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.auth-button:hover {
    background-color: #feb47b;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}